.counter {
  h1 {
    font-size: 2rem;
  }
  margin-top: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  animation: countdown 5s linear infinite;
}

@keyframes countdown {
  0% {
    background: hsl(0, 100%, 20%);
  }
  20% {
    background: hsl(90, 100%, 20%);
  }
  40% {
    background: hsl(180, 100%, 20%);
  }
  60% {
    background: hsl(270, 100%, 20%);
  }
  80% {
    background: hsl(360, 100%, 20%);
  }
  100% {
    background: hsl(0, 100%, 20%);
  }
}
